.mat-elevation {
    width: 100%;
    height: 95%;
}

.change-width-author {
    width: 10%;
}

.change-width-nameArticles {
    width: 20%;
}

.change-width-data  {
    width: 10%;
}

.change-width-tags {
    width: 8%;
}

.change-width-description {
    width: 52%;
}

.search-input {
    display: flex;
    width: 20vw;
    padding-bottom: 5px;
    border-bottom: 1px solid mediumblue;
    
    input::placeholder,
    .fa-search {
        color: mediumblue;
    }
    .fa-search {
        margin-top: 10px;
    }
}

.search-select {
    display: flex;
    margin-bottom: 20px;
}

::ng-deep .mat-paginator-outer-container{
margin-bottom: 5%;
}

::ng-deep .mat-form-field-underline {
    background-color: mediumblue !important;
}

::ng-deep .mat-form-field {
    position: absolute;
    bottom: 8px;
    left: 10px;
    height:20px;
}