
::ng-deep .mat-dialog-content{
    position:  fixed;
    top: 300px;
    left: 50%;
    width: 375px;
    background: white;
    margin-left: -187.5px;
    text-align: center;
    box-shadow: 0px 0px 2px 1px black;
    z-index: 100;
}

h4 {
    width: 15%;
    background-color: mediumblue;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-weight: bolder;
}