<div class="mat-elevation-div">
    <div class="header">
        <h1> My articles </h1>
    </div>

    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation" id="table">

        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef class="change-width-author" id="author" mat-sort-header> Author </th>
            <td mat-cell *matCellDef="let element" class="change-width-author"> {{element.author}} </td>
        </ng-container>

        <ng-container matColumnDef="nameArticles" >
            <th mat-header-cell *matHeaderCellDef class="change-width-nameArticles" mat-sort-header> Name Article </th>
            <td mat-cell *matCellDef="let element" class="change-width-nameArticles"> {{element.nameArticles}} </td>
        </ng-container>

        <ng-container matColumnDef="dataCreated">
            <th mat-header-cell *matHeaderCellDef class="change-width-data" mat-sort-header> Data Created </th>
            <td mat-cell *matCellDef="let element" class="change-width-data"> {{element.dataCreated | date}} </td>
        </ng-container>

        <ng-container matColumnDef="tags">
            <th mat-header-cell *matHeaderCellDef class="change-width-tags" mat-sort-header> Tags </th>
            <td mat-cell *matCellDef="let element" class="change-width-tags"> {{element.tags}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="change-width-description" mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element" class="change-width-description">{{element.description}}               
            </td>
        </ng-container>

        <ng-container matColumnDef=" ">
            <th mat-header-cell *matHeaderCellDef class="change-width-btn" mat-sort-header>  </th>
            <td mat-cell *matCellDef="let element; let i = index" class="change-width-btn">
                <div class="btn">
                    <button class="btn-edit" mat-button cdkFocusInitial (click)="openDialog(element, i)" >Edit</button>
                    <button class="btn-delete" mat-button cdkFocusInitial (click)="deleteArticle(element, i)">Delete</button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>