<mat-card class="main-card">
    <mat-card-header class="head">
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title class="title">Angular</mat-card-title>
    </mat-card-header>
    <div class="container-input">
        <mat-form-field class="email">
            <mat-label>Enter your email</mat-label>
                <input matInput  
                    [formControl]="email"
                    required >
                <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
    <br>
        <mat-form-field class="password">
            <mat-label>Enter your password</mat-label>
                <input  matInput [type]="hide ? 'password' : 'text'"  
                    [formControl]="password"
                    required>
                <button mat-icon-button matSuffix (click)="hide = !hide" 
                    [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>
        <div >
            <button class="btn-log-in" mat-raised-button color="primary" 
                [disabled]="email.invalid || password.invalid" 
            (click)="addUser()">
            Log in</button>
        </div>
    </div>
</mat-card>

