.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.drawer-content{
    flex: 1;
    width: 250px;
    background-color: lemonchiffon;
}

.main-content {
    background-color: linen;
    font-size: 18px;
    flex: 1;

    .list-item{
        padding: 30px 20px;
    }
}

li{
    font-size: 20px;
    margin-top: 10px;
}

.toolbar {
    z-index: 2;
}

.head{
    display: flex;
    // align-items: left;
    // justify-content: left;
    
    .header-image { 
        width : 60px;
        height: 60px;
        background-image: url(/assets/img/Angular.png);
        background-size: cover;
    }

    .title{
        font-size: 30px;
    }  

    // .head-left {
    //     // justify-content: left;
    // }

    .head-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 2%;
    }

    .user-name{
        color: whitesmoke;
        margin-right: 10px;
    }
}

.btn-log-out {
    margin-left: 10px;
    height: 48px;
    width: 98px;
    font-size: 20px;
    margin-top: 20px;
    background-color: gainsboro;
    color: black;
    margin-bottom: 20px;
    position: right;
}


