.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.drawer-content {
    flex: 1;
    width: 250px;
    background-color: lemonchiffon;
}

.main-content {
    background-color: linen;
    font-size: 18px;
    flex: 1;

    .list-item {
        padding: 30px 20px;
        
    }
}

.nav-li-style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}

ul {
    padding: 0px;
}

li {
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    list-style-type: none; 
    padding: 7px 12px;

}

.toolbar {
    z-index: 2;
}

.head {
    display: flex;
    height: 64px;
    
    .header-image { 
        width : 60px;
        height: 60px;
        background-image: url(/assets/img/Angular.png);
        background-size: cover;
    }

    .title {
        font-size: 30px;
    }  

    .head-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 2%;
    }

    .user-name {
        color: white;
        margin-right: 10px;
        font-weight: bolder;
    }
}

.btn-log-out {
    margin-left: 10px;
    height: 48px;
    width: 98px;
    font-size: 20px;
    margin-top: 20px;
    background-color: white;
    color: #3f51b5;
    font-weight: bolder;
    margin-bottom: 20px;
    position: right;
}

.footer {
    height: auto;
    padding-right: 5px;
    box-shadow: inset 0 0 1px;
    background-color: rgb(218, 214, 214);

    p {
        text-align: right;
        margin-top: 10px; 
        font-size: 15px;
        color: black;
    }
}

li:hover    {
    background: #3f51b5;
    color: white; 
    font-weight: bolder;
    padding: 7px 12px;
}


