.created-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    textarea {
        margin-bottom: auto;
    }
}

.author-and-date {
    width: 50%;
    height: 100%;
    text-align: left;
    margin-left: 20px; 
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    
    .author,
    .date-created {

        margin-bottom: 10px;
        
        .autor-bright,
        .date-created-bright {
            font-size: 24px;
            margin-top: 10px;
        }

        span {
            float: right;
        }
    }
}

.nameArticle,
.tag-container,
.description {
    width: 50%;
    height: 100%;
}

.btn-save,
.btn-clear {
    height: 48px;
    width: 98px;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 30px;
}

.tag-container {
    margin-left: 20px;
    text-align: -5px;
}

h1 {
    margin-top: 10px;
    background-color: #3f51b5;
    color: #fff;
    padding: 7px 12px;
    border-radius: 10px;
}

::ng-deep .tag-wrapper delete-icon path {
    fill: #fff !important;
}

::ng-deep .ng2-tags-container .ng-trigger {
    background-color: #3f51b5;
    color: #fff;
    border-radius: 16px;
    text-align: center;
}

::ng-deep .ng2-tag-input__text-input {
    background-color: linen !important;
    text-align: left;
}

::ng-deep .ng2-tag-input {
    border-bottom: 1px solid #3f51b5 !important;
}

::ng-deep .ng2-tag-input__text-input {
    padding: 0px !important;
}
::ng-deep .ng2-tags-container .ng-trigger:hover {
    background-color: #49b8f8 !important;
    color: white !important;
    font-weight: bolder;
}

::ng-deep .tag-wrapper delete-icon path:hover {
    fill: red !important;
    font-weight: 900;
}