.mat-elevation {
    width: 100%;
}

.change-width-author{
    width: 10%;
}

.change-width-nameArticles {
    width: 20%;
}

.change-width-data  {
    width: 10%;
}

.change-width-tags {
    width: 8%;
}

.change-width-description {
    width: 52%;
}

.tooltips{
    margin-bottom: 25px;
}